body,button {
  font-family: "Menlo";
  font-size: 100%;
}
button {
  border: 0px;
  background-color: white;
}
h1,p {
  margin: 0;
  font-weight: normal;
}
input {
  height: 20px;
  font-family: "Menlo";
  font-size: 100%;
}
#picture-container {
  text-align: center;
  overflow: hidden;
}
#centerPanel {
  text-align: center;
}
.hidden {
  display: none;
}
.rightAlign {
  float: right;
}
.withBorder {
  border: 1px solid black;
}
