body {
  font-family: "Monaco";
}
h1,p {
  margin: 0px;
}
#picture-container {
  text-align: center;
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.red {
  color: red;
}
.centerPanel {
  text-align: center;
}
.hidden {
  display: none;
}
